/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 40px;
  background-color: #2c3e50;
}
@media (max-width:768px){ .footer{position:fixed;width:100%;} }
@media (min-width:768px){ .footer{position:fixed;bottom:0;height:40px;width:100%;}}


/* For adjusting the height of the logo in the navbar */
.navbar-nav{
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.img{
  height: 100px;
  width: auto;
  border: 10px solid #18bc9c ;
  -webkit-box-shadow: 5px 5px 5px #2c3e50;
          box-shadow: 5px 5px 5px #2c3e50;
}


/* for customizing the navbar display*/
.navbar-nav > .active > a, .navbar-nav > .active > a:hover {
    background: transparent;
    padding-top: 25px;
    padding-bottom: 15px;
    line-height: 15px;
    border-top: 5px solid #2c3e50;
}


.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 15px;
}

.navbar-nav > li > a:hover {
    padding-top: 25px;
    padding-bottom: 15px;
    line-height: 15px;
    border-top: 5px solid #FFFFFF;
}


/*
@media (min-width: 768px)
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
*/

/*MORPH*/
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.bw:hover {
  -webkit-filter: grayscale(100%);
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 3% 0 0;
  margin: auto;
}

.form {
  padding: 45px;
  background: #2c3e50;
  max-width: 360px;
/*  margin: 0 auto 100px; */  
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #18bc9c;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #009688;
}

.form .message {
  margin: 15px 0 0;
}

.form .message a {
  text-decoration: none;
}

.form .register-form {
  display: none;
}

/* for questionnaire pages*/
div{
  display: block;
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
    clear:both;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}
.p-m {
    padding: 20px;
}
.gray-bg {
    background-color: #f3f3f4;
}
#scrollpage {
    margin-top: 20px;
    min-height: 100%;
}
.bookmark-top {
    position: absolute;
    top: 0;
    right: 0;
}
margins .btn {
    margin-bottom: 5px;
}
.bookmark-button {
    border-radius: 0px;
}
.btn-default {
    background-color: #ffffff;
    border-color:#ffffff;
    color: #000000;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background-color: #2c3e50;
    border-color:#2c3e50;
    color: #ffffff;
}
.option-button {
    text-align: justify;
    background-color: #fff;
    border: 1px solid #e7eaec;
    white-space: normal;
    min-height: 50px;
}
.option-button:hover,
.option-button:active,
.option-button:focus
{
  text-align:justify;
  background-color:#e7eaec;
  border:1px solid #e7eaec;
  outline:none;
  color: #000000;
}
.option-button.clicked
{
  background-color:#e7eaec;
  border:2px solid #1ab394;
  color: #000000;
}
.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}
.btn {
    border-radius: 3px;
}

.label {
    position: relative;
    top: -1px;
}
.option-label {
    background-color: #fff;
    color: #676a6c;
    border: 2px solid #e7eaec;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.correct-sign, .incorrect-sign {
    display: none;
}
margins .btn {
    margin-bottom: 5px;
}
.btn {
    border-radius: 3px;
}

/*edit profile page*/
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox:after, .ibox:before {
    display: table;
}